/* .bd-sidebar-primary {

    display: none !important;

} */

/* .bd-main .bd-content .bd-article-container {

    max-width: 100% !important;

} */

/* .bd-page-width {

    max-width: 100% !important;

} */